<div class="full-color">
  <div>
      <img src="../../assets/homepage/grey.png" class="bg3">
  </div>
  <div class="bg1"></div>
  <div class="outer"><br><br>
      <h1 class="headr"><b>Careers</b></h1><br><br>
      <h2 class="content">We look forward for people who dare to take challenges. As it’s a startup company by
          college students so persons with same age group having good public relation and
          communication skills will be preferred.
      </h2><br><br>
      <h2 class="content">The initial stage can be little bit tougher but we can surely provide you a friendly and
          pleasant working environment where learning is a part of work as we believe that there is no
          any better way of training than on a job learning.
      </h2><br><br>
      <h2 class="content">Mail us your Name, Contact No., Place of Stay, Qualification, CV/Resume, Past Working Experience so that we can get back to you soon.
      </h2><br><br><br>
      <h2 class="content">OR</h2><br><br><br>
      <div class="container">
        <div class="regform">
            <form>
            <table>
              <tr>
                <td class="text"><label for="name">NAME:</label></td>
                <td class="input"><input name="name" [(ngModel)]="name" id="name" placeholder="Your Name"></td>
              </tr>
              <tr>
                <td><label for="mobile">Contact No:</label></td>
                <td><input name="mobile" [(ngModel)]="mobile" id="mobile" placeholder="Your Mobile No."></td>
              </tr>
              <tr>
                <td><label for="email">Email ID:</label></td>
                <td><input name="email" [(ngModel)]="email" id="email" placeholder="Your Email ID"></td>
              </tr>
              <tr>
                <td><label for="currentcity">CURRENT CITY OF STAY:</label></td>
                <td><input name="city" [(ngModel)]="city" id="currentcity" placeholder="Your City"></td>
              </tr>
              <tr>
                <td><label for="qualification">QUALIFICATION:</label></td>
                <td><input name="qualification" [(ngModel)]="qualification" id="qualification" placeholder="Your Qualification"></td>
              </tr>
              <tr>
                <td><label for="exp">FRESHER/PAST COMPANY DETAILS:</label></td>
                <td><input name="exp" [(ngModel)]="exp" id="exp" placeholder="Your Experience"></td>
              </tr>
              <tr>
                <td>
                  <button class="button" type="submit">SUBMIT</button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
  </div>
  
</div>