
<div style="overflow-x: hidden;">
<div class="container col-sm-12" style="margin: 0; padding: 0;">
    <div id="myCarousel" class="carousel slide main" data-ride="carousel">
      <div class="carousel-inner" style="border-radius: 0;">
  
        <div class="item active">
          <img src="../../assets/homepage/crowd-in-front-of-blue-and-orange-stage-during-a-concert-at-1387174.jpg" alt="Los Angeles" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/2nd.jpg" alt="Chicago" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/3rd.jpg.jpeg" alt="Chicago" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/1535304191SAI_3539-Edit.jpg" alt="Los Angeles" id="home">
        </div>
        <!-- <div class="item">
          <img src="../../assets/homepage/5th.jpg.jpeg" alt="Los Angeles" id="home">
        </div> -->
        <div class="item">
          <img src="../../assets/homepage/6th.jpg" alt="Los Angeles" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/Sun Digital Flex Printing4.jpg" alt="Los Angeles" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/heart-shaped-pink-and-purple-flower-garden-1040626.jpg" alt="Los Angeles" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/slide3.jpg" alt="Los Angeles" id="home">
        </div>
        <div class="item">
          <img src="../../assets/homepage/fashion-show-1746579_1920.jpg" alt="Los Angeles" id="home">
        </div>
    
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <img src="../../assets/homepage/Asset 13Selectedlap.png" class="bottom">
    
    <div class="container cf" style="text-align: center;" id="wel">
        <div class="row">
            <div class="col-sm-4">
                <img src="../../assets/homepage/WhatsApp Image 2020-01-23 at 10.47.41 PM.jpeg" class="wel">
            </div>
            <div class="col-sm-8">
        <div class="animation-element slide-left">
            <div class="content">
                <h1 class="headr">Welcome</h1>
                <br>
                <h3 class="content">Welcome to Its Mishra Event, the complete solution for planning and management of any type of
                    event. It’s a company where customer satisfaction matters. So, join hands with Its ME which is
                    specially designed For You. We are hoping to work with you soon.
                </h3>
            </div>
      </div></div>
      </div>
      </div>
      <img src="../../assets/homepage/waves1.png" style="width: 100%;">
      <div class="container cf" style="text-align: center; background-color: #FDDD86;">
        <div class="animation-elementt slide-left">
            <div class="content">
                <h1 class="headr">About Us</h1>
                <br>
                <h3 class="content">As the tagline of the company is “Its ME, For You” it clearly conveys the company’s message to its
                    customers. We the ME team work for planning and management an event according to customer
                    suitability as customer satisfaction is our prime importance. We believe in making personal relation
                    with our customers in addition to professional one’s. Our team start working on all aspects of any
                    event from the day when our customer just think of having it , so that our customer can be a guest
                    at their own event and can enjoy every moment of the event without any worry . We are a team of
                    young generation professional who have grown up in traditional family, so we know the importance
                    of both rituals and try to create a blend of both rituals style. We the ME team never settles for
                    creating a normal event, we always try to create a wow moment.
                </h3>
            </div>
      </div>
      </div>
      <img src="../../assets/homepage/waves-2.png" style="width: 100%;">
      <div class="container" style="text-align: center; background-color: #D1EAEF;">
        <h1 class="headr">Services</h1>
        <h3 class="content">We deal in all kind of live events, private events, family events, corporate events, charity events &amp;
            celebrity bookings to cater our customers need from different sections of the society.
        </h3>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Celebrity Booking</h3>
            <div id="myCarouselcb" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/celeb/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/celeb/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/celeb/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/celeb/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/celeb/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselcb" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselcb" id="sli3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Weddings</h3>
            <div id="myCarouselwedd" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/wedding/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/wedding/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/wedding/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/wedding/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/wedding/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
      <a class="left carousel-control" href="#myCarouselwedd" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarouselwedd" id="sli1" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Professional Meetings</h3>
            <div id="myCarouselpm" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/meeting/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/meeting/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/meeting/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/meeting/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/meeting/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselpm" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselpm" id="sli4" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Birthday and Anniversary</h3>
            <div id="myCarouselbaa" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/birthday/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/birthday/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/birthday/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/birthday/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/birthday/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselbaa" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselbaa" id="sli2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Celebrity Live Show and Award Show</h3>
            <div id="myCarouselclsa" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/awards/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/awards/2nd.jpeg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/awards/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/awards/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/awards/5th.jpeg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselclsa" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselclsa" id="sli7" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Fashion Show</h3>
            <div id="myCarouselfs" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/fashion/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/fashion/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/fashion/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/fashion/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/fashion/5th.jpeg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselfs" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselfs" id="sli6" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">Promotional Events</h3>
            <div id="myCarouselpe" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/promotional/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/promotional/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/promotional/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/promotional/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/promotional/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselpe" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselpe" id="sli8" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
        <a routerLink="services"><div class="col-sm-6 hov">
            <h3 class="content">College Fest</h3>
            <div id="myCarouselcf" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="../../assets/services/college/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/college/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/college/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/college/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img src="../../assets/services/college/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarouselcf" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarouselcf" id="sli5" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div></a>
    </div>
    <img src="../../assets/homepage/waves3.png" style="width: 100%;">
    <div class="container" style="text-align: center; background-color: #A4BBC9;">
        <h1 class="headr">Testimonials</h1>
        <div class="container test" style="padding: 10px;">
        <div id="myCarouseltest" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/1 Dr.J P Bhamu ECB Principal.jpg" alt="Los Angeles">
                        <h4 class="content">J P Bhamu, Principal, ECB Bikaner</h4>
                    </div>
                    <div class="col-sm-8 testt">
                        <h4 class="content">Its really a proud moment for all of us to work with “Its Mishra Event” company which is
                            owned by our own students. The company did a great job in organizing the best ever edition
                            of ECB Sports Fest. We wish them all the very best for their future projects, ECB Society will definitely look
                            forward to work with “Its Mishra Event” in its all upcoming projects.
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/5 Arvind Singh Sekhawat Achievers Academy.jpg" alt="Los Angeles">
                        <h4 class="content">Arvind Singh Sekhawat, Achievers Academy</h4>
                    </div>
                    <div class="col-sm-8" class="testt">
                        <h4 class="content">Thanks to its Mishra event team and specially Kaushal for all your cooperation &
                            Personal commitments. Your organisation skill, work ethics and charm is off the
                            Charts. You set the bar high. Selection of venue and target audience was superb.
                            Will be happy to work with you again.
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/2 Dr. Y N Singh BTU.jpg" alt="Los Angeles">
                        <h4 class="content">Dr. Y N Singh, BTU</h4>
                    </div>
                    <div class="col-sm-8 testt">
                        <h4 class="content" style="text-transform: inherit;">We were pleased far beyond our expectations on almost every aspect from the
                            Meticulous manner of planning, dedication of your team and the humility with
                            Which you executed the flawless fest was indeed exemplary. We are proud for
                            Having such talented students. UCET, Bikaner as a constituent college of Bikaner
                            Technical university would be glad to work with its Mishra event and create
                            Milestone journey together in association.
                            
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/3 Ishan Ankit Deal Myself.jpg" alt="Los Angeles">
                        <h4 class="content">Ishan Ankit, Deal Myself</h4>
                    </div>
                    <div class="col-sm-8" class="testt">
                        <h4 class="content">Thanks to its me as they did an outstanding job in promoting us. They understood
                            Our brief, adapted it for the market, were also very proactive in suggesting
                            Additional creative ideas. We absolutely have no hesitation in working with this
                            Company in future and highly recommend them.
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/Dinesh Suthar Abhiyantriki 2.0.jpg" alt="Los Angeles">
                        <h4 class="content">Dinesh Suthar, Abhiyantriki 2.0</h4>
                    </div>
                    <div class="col-sm-8" class="testt">
                        <h4 class="content">We would like to express our gratitude for all the hard work that was put in by
                            Each member of your team and for fulfilling your commitments. Without the
                            Excellent efforts which was made by your team, this would not have been
                            Possible. Best of luck for future endeavours.
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/Punit Sir Kirti Sports.jpg" alt="Los Angeles">
                        <h4 class="content">Punit Sir, Kirti Sports</h4>
                    </div>
                    <div class="col-sm-8" class="testt">
                        <h4 class="content">It was great experience. Working with you for our promotion was one of the
                            Best decision as it increased our sales so much.
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-4">
                        <img class="testi" src="../../assets/testimonials/4 Rahul Singh Sekhawat BIMS.jpg" alt="Los Angeles">
                        <h4 class="content">Rahul Singh Sekhawat, BIMS</h4>
                    </div>
                    <div class="col-sm-8" class="testt">
                        <h4 class="content">We were delighted by the quality of service & support we received. Your work
                            Was impeccable. Wishing you great success in the future.
                        </h4>
                    </div>
                </div>
            </div>     
            <a class="left carousel-control" href="#myCarouseltest" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarouseltest" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
    </div>
    <img src="../../assets/homepage/waves-1.png" style="width: 100%;">
    <div class="container" style="text-align: center; background-color: #B7D76C; position: relative; top: -2px;">
        <h1 class="headr">Contact Us</h1>
        <div class="col-sm-6" style="padding: 2%;">
        <h3 class="content2">Its Mishra Event</h3>
        <h4 class="content2">Gautam Nagar, Gangjala, Ward No. 12,</h4>
        <h4 class="content2">Saharsa - 852201, Bihar</h4>
        <h4 class="content2">Mobile No - 9065095132</h4>
        <h4 class="content2">Email Address - kmishra@itsmishraevent.com</h4>
        <span><a target="_blank" href="https://www.facebook.com/itsmishraevent/"><i class="fab fa-facebook-square"></i></a></span><span><a target="_blank" href="https://instagram.com/itsmishraevent?igshid=15b7mfvzc7eks"><i class="fab fa-instagram"></i></a></span>
        </div>
        <div class="col-sm-6" style="padding: 2%;">
            <img src="../../assets/homepage/Logo.jpg" style="width: 70%;">
        </div>
    </div>
    <div class="container" style="font-family: 'Cormorant Upright', cursive; padding: 0; margin: 0; text-align: center; background-color: lightgray; position: relative; top: -2px;">
        <div class="row" style="padding: 0; margin: 0;">
            <div class="col-sm-4" style="padding: 0; margin: 0;"><h4 style="color: black; font-weight: 900;">Copyright © ITS MISHRA EVENT</h4></div>
            <div class="col-sm-4" style="padding: 0; margin: 0;"><h4 style="color: black; font-weight: 900;">All Rights Reserved ™</h4></div>
            <div class="col-sm-4" style="padding: 0; margin: 0;"><h4 style="color: black; font-weight: 900;">This site has been developed by <a style="color: blue;" href="https://www.facebook.com/aditya.sonawane.545402" target="_blank">me</a></h4></div>
        </div>
    </div>
  </div>
  </div>