<div class="full-color">
    <div>
        <img src="../../assets/homepage/final.png" class="bg3">
    </div>
    <div class="bg1"></div>
    <div class="outer">
    <h1 class="headr"><b>About Us</b></h1><br><br><br><br>
    <h2 class="content">As the tagline of the company is “Its ME, For You” it clearly conveys the company’s message to its
        customers. We the ME team work for planning and management an event according to customer
        suitability as customer satisfaction is our prime importance. We believe in making personal relation
        with our customers in addition to professional one’s. Our team start working on all aspects of any
        event from the day when our customer just think of having it , so that our customer can be a guest
        at their own event and can enjoy every moment of the event without any worry . We are a team of
        young generation professional who have grown up in traditional family, so we know the importance
        of both rituals and try to create a blend of both rituals style. We the ME team never settles for
        creating a normal event, we always try to create a wow moment.
    </h2>
    <div class="dead"><br><br><br></div>
</div>
</div>