
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color: white;"><i class='fas fa-bars'></i></button>
      <div class="brand">
        <a class="logoa" class="navbar-brand" routerLink=""><img class="logo" src="../assets/homepage/Logo.jpg"></a>
        <div class="one"><span class="its">Its</span></div>
        <div class="two"><span class="me">Mishra Event ME,</span></div>
        <div class="thr"><span class="for">For You</span></div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 2%;">
        <li class="navl"><a class="nava" id="mya" routerLink="">Home</a></li>
        <li class="navl"><a class="nava" id="mya" routerLink="aboutus">About Us</a></li>
        <li class="navl"><a class="nava" id="mya" routerLink="services">Services</a></li>
        <li class="navl"><a class="nava" id="mya" routerLink="projects">Projects</a></li>
        <li class="navl"><a class="nava" id="mya" routerLink="careers">Careers</a></li>
        <li class="navl"><a class="nava" id="mya" routerLink="contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>