<div class="full-color" style="overflow: hidden;">
    <div>
        <img src="../../assets/homepage/blue.png" class="bg3">
    </div>
    <div class="bg1"></div>
    <div class="outer"><br>
    <h1 class="headr"><b>Services</b></h1>
    <h2 class="content">We deal in all kind of live events, private events, family events, corporate events, charity events
        celebrity bookings to cater our customers need from different sections of the society.
    </h2>
    <div class="row">
        <div class="col-sm-6 hov">
            <h2 style="font-weight: 900;">Celebrity Booking</h2>
            <div id="SmyCarouselcb" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img (mouseover)="cli()" src="../../assets/services/celeb/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/celeb/2nd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/celeb/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/celeb/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/celeb/5th.jpg" alt="Chicago" id="imag">
                    </div>
                </div>
                
                <a class="left carousel-control" href="#SmyCarouselcb" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#SmyCarouselcb" id="sli3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
            <h3>If u wanna book any type of artist for ur event nd are tired of getting in contact with them, we the ME team are here to help u out to get rid from all these.We have good contacts with number of famous artists from Bollywood to Punjabi Industry. We can help u book these artists for ur event at low cost. We deal in booking all type of artist from different streams such as Singers, Dancers, Comedians, Actors, DJs, etc..
            </h3>
        </div>
    <div class="col-sm-6 hov">
        <h2 style="font-weight: 900;">Weddings</h2>
        <div id="SmyCarouselwedd" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/wedding/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/wedding/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/wedding/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/wedding/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/wedding/5th.jpg" alt="Chicago" id="imag">
                </div>
            </div>
            <a class="left carousel-control" href="#SmyCarouselwedd" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselwedd" id="sli1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>We at Its ME try to create a blend of traditional and modern wedding style as we know both are equally important. We help you to organise all the events taking place in any wedding from Sagai to Bidai.
        </h3>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 hov pm">
        <h2 style="font-weight: 900;">Professional Meetings</h2>
        <div id="SmyCarouselpm" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/meeting/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/meeting/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/meeting/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/meeting/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/meeting/5th.jpg" alt="Chicago" id="imag">
                </div>
            </div>
            <a class="left carousel-control" href="#SmyCarouselpm" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselpm" id="sli4" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>In this rapid growing world, business professionals dont have much time to fix & decide all the things regarding any meetings. Thats why we are here to help you out in deciding all the things related to any meetings.
        </h3>
    </div>
    <div class="col-sm-6 hov">
        <h2 style="font-weight: 900;">Birthday and Anniversary</h2>
        <div id="SmyCarouselbaa" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/birthday/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/birthday/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/birthday/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/birthday/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/birthday/5th.jpg" alt="Chicago" id="imag">
                </div>
            </div>
            
            <a class="left carousel-control" href="#SmyCarouselbaa" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselbaa" id="sli2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>Important days of anyones lyf needs special celebration. So we the ME team work for creating unforgettable moments. We plan and manage Anniversaries and Birthday parties for all age groups according to the needs.
        </h3>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6 hov">
            <h2 style="font-weight: 900;">Celebrity Live Show and Award Show</h2>
            <div id="SmyCarouselclsa" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                    <img (mouseover)="cli()" src="../../assets/services/awards/1st.jpg" alt="Los Angeles" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/awards/2nd.jpeg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/awards/3rd.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/awards/4th.jpg" alt="Chicago" id="imag">
                    </div>
                    <div class="item">
                    <img (mouseover)="cli()" src="../../assets/services/awards/5th.jpeg" alt="Chicago" id="imag">
                    </div>
                </div>
                <a class="left carousel-control" href="#SmyCarouselclsa" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#SmyCarouselclsa" id="sli7" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
            <h3>We deal in organising celebrity live shows and concerts for different functions from private one to public functions. Our team also works in organising award shows. We are involved in organising different type of events such as Ticket Event, Non- Ticket Event , Charity Shows , etc..
            </h3>
        </div>
    <div class="col-sm-6 hov">
        <h2 style="font-weight: 900;">Fashion Show</h2>
        <div id="SmyCarouselfs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/fashion/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/fashion/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/fashion/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/fashion/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/fashion/5th.jpeg" alt="Chicago" id="imag">
                </div>
            </div>
            <a class="left carousel-control" href="#SmyCarouselfs" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselfs" id="sli6" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>Fashion is an integral part of life. It has became a mean of recognition of anyone's status. Fashion is more than self expression, its a mean of confidence. Fashion industry always tries to bring something new in the market, so we organize fashion shows for different brands to showcase their products and keep people updated about the latest trends.
        </h3>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 hov">
        <h2 style="font-weight: 900;">Promotional Events</h2>
        <div id="SmyCarouselpe" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/promotional/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/promotional/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/promotional/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/promotional/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/promotional/5th.jpg" alt="Chicago" id="imag">
                </div>
            </div>
            <a class="left carousel-control" href="#SmyCarouselpe" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselpe" id="sli8" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>In this new era of industrialization where everyday a number of companies get started, its very important to make your brand unique identity in the market. We the ME team helps you to promote your brand and increase its sales by deciding the correct promotion venue, the target audience, etc...
        </h3>
    </div>
    <div class="col-sm-6 hov">
        <h2 style="font-weight: 900;">College Fest</h2>
        <div id="SmyCarouselcf" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                <img (mouseover)="cli()" src="../../assets/services/college/1st.jpg" alt="Los Angeles" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/college/2nd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/college/3rd.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/college/4th.jpg" alt="Chicago" id="imag">
                </div>
                <div class="item">
                <img (mouseover)="cli()" src="../../assets/services/college/5th.jpg" alt="Chicago" id="imag">
                </div>
            </div>
            <a class="left carousel-control" href="#SmyCarouselcf" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#SmyCarouselcf" id="sli5" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
        <h3>As all our team members have been in college management team at their time, so we know the problem regarding funding of any event in College fest. Thats why we try to organise any college fest at its best, at low cost so that it would not be a burden upon college management team.
        </h3>
    </div>
    </div>
</div>
</div>