<div class="full-color" style="overflow: hidden;">
    <div>
        <img src="../../assets/homepage/pink.png" class="bg3">
    </div>
    <div class="bg1"></div>
    <div class="outer"><br>
    <div class="container" style="text-align: center; margin-left: 10px; margin-right: 10px; width: 100%;">
        <h1 class="headr"><b>Contact Us</b></h1>
        <div class="row">
        <div class="col-sm-6">
            <br><br><br>
            <h3 id="content2">Its Mishra Event</h3>
            <h4 id="content2">Gautam Nagar, Gangjala, Ward No. 12,</h4>
            <h4 id="content2">Saharsa - 852201, Bihar</h4>
            <h4 id="content2">Mobile No - 9065095132</h4>
            <h4 id="content2">Email Address - kmishra@itsmishraevent.com</h4>
        </div>
        <div class="col-sm-6">
            <br><br><br>
            <h4 id="content2">For Business Enquires, mail us at</h4>
            <h4 id="content2">kmishra@itsmishraevent.com</h4>
        </div>
        </div>
            <div class="row" id="cont">
                <div class="col-sm-4">
                    <img class="dp" src="../../assets/contact/Kaushal Mishra.jpg">
                </div>
                <div class="col-sm-8">
                    <h4 class="content">Kaushal Kumar Mishra</h4>
                    <h4 class="content">Contact No - 9065095132</h4>
                    <h4 class="content">Email ID - 7.kmishra.7@gmail.com</h4>
                    <span><a target="_blank" href="https://www.facebook.com/kaushal.mishra.7777777"><i class="fab fa-facebook-square"></i></a></span><span><a target="_blank" href="https://instagram.com/k.mishra.7?igshid=6ls239n4k720"><i class="fab fa-instagram"></i></a></span>
                </div></div>
                <div class="row" id="cont">
                <div class="col-sm-4">
                    <img class="dp" src="../../assets/contact/Kunal Morwal.jpg">
                </div>
                <div class="col-sm-8">
                    <h4 class="content">Kunal Morwal</h4>
                    <h4 class="content">Contact No - 9660770704</h4>
                    <h4 class="content">Email ID - morwalkunal1040@gmail.com</h4>
                    <span><a target="_blank" href="https://www.facebook.com/profile.php?id=100003257003906"><i class="fab fa-facebook-square"></i></a></span><span><a target="_blank" href="https://instagram.com/kunalmorwal?igshid=1q29h9ix2mxmw"><i class="fab fa-instagram"></i></a></span>
                </div></div>
                <div class="row" id="cont">
                <div class="col-sm-4">
                    <img class="dp" src="../../assets/contact/Manish Pratihar.jpg">
                </div>
                <div class="col-sm-8">
                    <h4 class="content">Manish Pratihar</h4>
                    <h4 class="content">Contact No - 9782711601</h4>
                    <h4 class="content">Email ID - pratiharmanish@gmail.com</h4>
                    <span><a target="_blank" href="https://www.facebook.com/manish.pratihar.3"><i class="fab fa-facebook-square"></i></a></span><span><a target="_blank" href="https://instagram.com/manish_pratihar1998?igshid=fvx3czdrh7rk"><i class="fab fa-instagram"></i></a></span>
                </div></div>
        </div>
    </div>
    <br><br><br><br><br>
</div>